*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.box1{
    display: flex;
    height:600px;
    width:800px;
    background-color: rgba(215, 235, 241, 0.189);
    border-radius: 18px;
    margin-top: 50%;
    margin-bottom: 20px;
    margin: auto;
    position: relative;
    top: 15px;
    overflow: hidden;
}

.box1 .left{
   height: 100%;
   width: 50%;
   position: absolute;
   right: 0;
   overflow: hidden;
   
}

.box1 .left img{
    height: 100%;
    
}

.box1 .right{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
}

.box1 .right h1{
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  color: rgb(220, 176, 79);
  height: fit-content;
  font-size: 50px;
  margin: auto;
  
}

.box1 .right form{
   
    display: flex;
    flex-direction: column;
  color: antiquewhite;
 
  height: fit-content;
}
.flex{
    display: flex;
    gap: 20px;
}
.right h1{
    transform: translateY(-100px);
}
.form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Oswald", sans-serif;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}
.submit{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
}

.right .header{
    align-items: center;
}